<div class="container-fluid">
  <!-- <div class="row mt-5">
    <div class="col-sm-3">
      <div class="card text-center">
        <img class="card-img-top rounded-circle image-fluid"  src="assets/img_avatar1.png" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">{{ name }}</h4>
          <h5><span class="card-text badge badge-success">Best </span> Seller</h5>
        </div>
      </div>
      <div class="mb-5">
        <h2><i class="fas fa-asterisk" style="font-size:24px"></i> Categroies</h2>
        <h4 class="text-secondary">Laptops</h4>
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success mb-2" style="width:85%">85%</div>
        <h4 class="text-secondary">Food</h4>
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary mb-2" style="width:70%">70%</div>
        <h4 class="text-secondary">Clothes</h4>
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning mb-2" style="width:60%">60%</div>
    </div>
    </div>
    <div class="col-sm-9">
      <app-products></app-products>
    </div>
  </div> -->
  <div class="m-5">
    <app-categories></app-categories>
  </div>
</div>
